{% extends "base.html" %}
{% load static %}

{% block title %}Editar Carro{% endblock %}

{% block content %}
  <h2 style="text-align: center; margin-top: 20px;">Editar Carro</h2>
  <form method="post" enctype="multipart/form-data" style="max-width: 500px; margin: 0 auto; background: #e3e1e1; padding: 30px; border-radius: 10px;">
    {% csrf_token %}
    <div style="margin-bottom: 15px;">
      <label for="brand">Marca:</label>
      <select name="brand" id="brand" required>
        {% for brand in brands %}
          <option value="{{ brand.id }}" {% if brand.id == carro.brand.id %}selected{% endif %}>{{ brand.nome }}</option>
        {% endfor %}
      </select>
    </div>
    <div style="margin-bottom: 15px;">
      <label for="model">Modelo:</label>
      <input type="text" name="model" id="model" value="{{ carro.model }}" required>
    </div>
    <div style="margin-bottom: 15px;">
      <label for="factory_year">Ano de Fabricação:</label>
      <input type="number" name="factory_year" id="factory_year" value="{{ carro.factory_year }}" required>
    </div>
    <div style="margin-bottom: 15px;">
      <label for="model_year">Ano do Modelo:</label>
      <input type="number" name="model_year" id="model_year" value="{{ carro.model_year }}" required>
    </div>
    <div style="margin-bottom: 15px;">
      <label for="km">KM:</label>
      <input type="number" name="km" id="km" value="{{ carro.km }}" required>
    </div>
    <div style="margin-bottom: 15px;">
      <label for="value">Valor:</label>
      <input type="number" name="value" id="value" value="{{ carro.value }}" required>
    </div>
    <div style="margin-bottom: 15px;">
      <label for="photo">Foto:</label>
      <input type="file" name="photo" id="photo">
      {% if carro.photo %}
        <div style="margin-top:10px;">
          <img src="{{ carro.photo.url }}" alt="{{ carro.model }}" style="width: 200px; border-radius: 8px;">
        </div>
      {% endif %}
    </div>
    <button type="submit" class="btn btn-success">Salvar</button>
    <a href="{% url 'meus_anuncios' %}" class="btn btn-secondary">Cancelar</a>
  </form>
{% endblock %}
