<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <staticContent>
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>

    <handlers>
      <add name="StaticFile" path="static/*" verb="*" modules="StaticFileModule" resourceType="Either" requireAccess="Read" />
      <add name="MediaFile" path="media/*" verb="*" modules="StaticFileModule" resourceType="Either" requireAccess="Read" />
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\python364x64\python.exe|D:\home\site\wwwroot\manage.py" resourceType="Unspecified" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="StaticFiles" stopProcessing="true">
          <match url="^static/(.*)" />
          <action type="Rewrite" url="static/{R:1}" />
        </rule>
        <rule name="MediaFiles" stopProcessing="true">
          <match url="^media/(.*)" />
          <action type="Rewrite" url="media/{R:1}" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>
</configuration>
