<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>

        <staticContent>
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>

        <handlers>
            <add name="StaticFileHandler" path="staticfiles/*" verb="*" modules="StaticFileModule" resourceType="Either" />
            <add name="MediaFileHandler" path="media/*" verb="*" modules="StaticFileModule" resourceType="Either" />
        </handlers>

        <rewrite>
            <rules>
                <rule name="StaticFiles" stopProcessing="true">
                    <match url="^staticfiles/(.*)" />
                    <action type="Rewrite" url="staticfiles/{R:1}" />
                </rule>
                <rule name="MediaFiles" stopProcessing="true">
                    <match url="^media/(.*)" />
                    <action type="Rewrite" url="media/{R:1}" />
                </rule>
            </rules>
        </rewrite>

    </system.webServer>
</configuration>
