<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="Static Files" stopProcessing="true">
          <match url="^static/(.*)" />
          <action type="Rewrite" url="staticfiles/{R:1}" />
        </rule>
        <rule name="Media Files" stopProcessing="true">
          <match url="^media/(.*)" />
          <action type="Rewrite" url="media/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
