{% extends 'base.html' %}

{% block title %}Meus Anúncios{% endblock %}

{% block content %}
  <h2>Meus Anúncios</h2>
  <div class="car-grid">
    {% for car in carros %}
      <div class="car-card">
        <img src="{{ car.imagem.url }}" alt="{{ car.nome }}" class="car-img">
        <div style="padding: 16px;">
          <h3>{{ car.nome }}</h3>
          <p>{{ car.descricao }}</p>
              <a href="{% url 'editar_carro' car.id %}">Editar</a> |
          <a href="{% url 'deletar_carro' car.id %}">Excluir</a>
        </div>
      </div>
    {% empty %}
      <p>Você ainda não cadastrou nenhum carro.</p>
    {% endfor %}
  </div>
{% endblock %}
